.logotext {
  text-decoration: none;
  color: #FFCA2C;
  font-size: 30px;
  font-weight: bolder;
}
.logotext:hover {
  color: #FFCA2C;
}
.logotextsmall {
  text-decoration: none;
  color: #FFCA2C;
  font-size: 10px;
}


.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 12rem !important;
  left: 15%;
  color: #fff;
  text-align: center;
}

.carousel-control-prev {
  display: none !important;
}

.carousel-control-next {
  display: none !important;
}

button {
 
  color: white;
  background-color: transparent;
  border: none;
  font-weight:500;
}



.Rightmenu {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}
.Rightmenu:hover{
  color: #fff;
}

a.active{
  background-color: #FFCA2C;
  padding: 10px;
  border-radius: 10px;
  color: black;
}


.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}


.fmain{
  display: inline-block;
  text-align: left;
}

.fhead {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #FFCA2C;
}

.fdata {
  font-size: 15px;
 
}

.fdata a{
  text-decoration: none;
  color: white;
}

.fdata a:hover{

  color: #FFCA2C;
}

.bg {
  background-color: #dddddd;
}

.formhead{
  font-weight: bold;
}

.carousel-item .img {
  background-size: cover;
}

.formdata{
  display: inline-block;
  text-align: left;
}

.cardhead{
  font-size: 30px;
}

.fbutton{
  background-color: #FFCA2C;
  border-radius: 10px;
  padding: 7px 10px;
  border: none;
  color: black;
  font-weight: 500;
}



input[type=text],input[type=password],input[type=email]  {
  width: 100%;
  padding: 12px 15px; 
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

